* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: auto;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  background: white;
}

.containerPresentation {
  display: flex;
}

.render {
  margin: 2em;
}
.containerButton {
  display: flex;
  margin-bottom: 3em;
  flex-wrap: wrap;
}

.buttonDownload {
  flex-basis: 25%;
}

@media all and (max-width: 950px) {
  .buttonDownload {
    flex-basis: 50%;
    text-align: center;
  }
}

@media all and (max-width: 850px) {
  .containerPresentation {
    flex-direction: column;
    margin-left: 0em;
    margin: 0em;
  }

  .buttonDownload {
    flex-basis: 50%;
  }
}

@media all and (max-width: 650px) {
  .buttonDownload {
    flex-basis: 80%;
  }
}

.chatbot {
  width: 85px;
  height: 85px;
  background: #fafafa;
  box-shadow: 2px 2px 8px #aaa;
  font: bold 13px Arial;
  border-radius: 50%;
  color: #555;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.containerCircleChat {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.imageChat {
  width: 70px;
}

.ContainerChat {
  position: absolute;
  bottom: 140px;
  right: 20px;
}

.chatbot404 {
  width: 85px;
  height: 85px;
  background: #fafafa;
  box-shadow: 2px 2px 8px #aaa;
  font: bold 13px Arial;
  border-radius: 50%;
  color: #555;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.titleError404 {
  text-align: center;
  margin-top: -10%;
  font-family: "Courier New", Courier, monospace;
}

.ChatBot {
  margin: 0 auto;
  width: 100px;
}

.containerTeam {
  display: flex;
  margin: 2em;
  flex-wrap: wrap;
  justify-content: center;
}

.titleTeam {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-size: 35px;
  font-weight: bold;
}

@media all and (max-width: 450px) {
  .titleTeam {
    font-size: 25px;
  }

  .containerTeam {
    margin: 1em;
  }
}

@media all and (max-width: 320px) {
  .titleTeam {
    font-size: 20px;
  }
}

.cardTeam {
  margin-right: 4%;
  margin-left: 4%;
  margin-bottom: 4em;
}

.containerGif {
  display: flex;
  flex-direction: row;
}

.contentGif {
  text-align: center;
  width: 100%;
}

@media all and (max-width: 800px) {
  .containerGif {
    flex-direction: column;
  }
}

.typePicture {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.titleGif {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 30px;
}

@media all and (max-width: 550px) {
  .titleGif {
    font-size: 15px;
    margin-left: 1em;
    margin-right: 1em;
  }

  .typePicture {
    font-size: 20px;
    margin-left: 1em;
    margin-right: 1em;
  }
}

.imgGif {
  max-width: 80%;
}

@media all and (max-width: 900px) {
  .imgGif {
    max-width: 60%;
  }
}

.textTitle {
  font-size: 35px;
  font-weight: bold;
}

.textPicture {
  width: 30%;
}

.textPresentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textOne {
  font-size: 16px;
  margin-bottom: 1em;
}

.textTwo {
  font-size: 16px;
  margin-top: 1em;
  width: 30%;
}

@media all and (max-width: 1200px) {
  .textTwo {
    width: 50%;
    text-align: center;
  }

  .textPicture {
    width: 50%;
  }
}

@media all and (max-width: 700px) {
  .textTwo {
    width: 90%;
    text-align: center;
  }

  .textPicture {
    width: 90%;
  }

  .textTitle {
    font-size: 25px;
    font-weight: bold;
  }

  .textOne {
    margin-left: 1em;
    margin-right: 1em;
  }
}
